h1{
    color: red;
}

.page_layout{position: relative;margin: 0 auto;max-width: 1184px;width: 100%;}
.header{background: #fff; display: flex;align-items: center;justify-content: space-between;position: sticky;z-index: 1;top: 0;}
.rozarpay_logo{width: 220px;height:120px;}
/* Styles for the login &sign up button */
.header_login{display: flex;justify-content: space-between;align-items: center;gap: 20px;}
.header_log_button{color: rgb(19, 100, 241);min-height: 36px;font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-size: 14px;font-weight: 700;text-decoration-line: none;line-height: 20px;cursor: pointer;padding: 0px 20px;align-items: center;display: inline-flex;}
.header_sign_up{color: rgb(255, 255, 255);font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-size: 16px;font-weight: 700;text-decoration-line: none;line-height: 20px;text-align: center;cursor: pointer;background-color: rgb(19, 100, 241);padding: 10px 20px;}
.header_log_button:hover {background-color: rgb(199, 199, 193);}

/* Styles for the navigation bar */
.nav_bar {overflow: hidden;}
.nav_bar a {float: left;display: block;text-align: center;padding: 14px 20px;text-decoration: none;color: rgb(129, 133, 151);font-weight: bold;font-size: 14px;text-transform:capitalize;cursor: pointer;font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}
.drop_down {float: left;overflow: hidden;}
.drop_down .dropbtn {font-size: 16px;border: none;outline: none;padding: 14px 20px;background-color: inherit;margin: 0;text-decoration: none;color: rgb(129, 133, 151);font-weight: bold;text-transform: capitalize;cursor: pointer;font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}
.nav_bar a:hover, .drop_down:hover .dropbtn {color:rgb(19, 100, 241);text-decoration: underline; }
.drop_down-content {display: none;position: absolute;background-color: #f9f9f9;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);z-index: 1;left: 30px;height: auto;padding: 0 15px;max-width: 1080px;}
.drop_down-content a {float: none;color: black;padding: 12px 16px;text-decoration: none;display: block;text-align: left; }
.drop_down-content a:hover {background-color: #ddd;text-decoration: none;}
.drop_down:hover .drop_down-content {display: flex;text-decoration: none;justify-content: space-between;gap: 10px;}
.drop_down_content_online{width: 65%;}
.drop_down_content_offline{width: 30%;}
.drop_down-section{width: 340px;}
.drop_down-content p{color: rgb(137, 150, 169);font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-size:14px;font-weight: 400;text-decoration-line: none;line-height: 20px;padding: 0px;margin: 20px 16px 4px;text-transform: uppercase;}
.drop_down_list{display: grid;justify-content: space-between;justify-items: center;grid-template-columns: repeat(2, 1fr);}
.drop_down_list a{display: flex;justify-content: space-between;gap: 12px;text-decoration: none;max-width: 220px;}
.drop_down_list img{width: 40px;height: 40px;background: #3480de;border-radius: 50%;}
.payment_title{font-size: 16px;}
.payment_headline{font-size: 12px;color: rgb(137, 150, 169);font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-weight: 400;line-height: 20px;padding: 5px 0;}
/* Styles for the banner */
.mid_banner{display: flex;justify-content: space-between;align-items: center;}
.left_banner_text{width: 50%;font-size: 79px;line-height: 86px;font-weight: 700;font-family: Raleway,sans-serif;margin-bottom: 8px;}
.banner_animated_element{ position: relative;animation: slideDown 2s ease-in-out forwards; }
@keyframes slideDown {
    0% {top: -50px; }
    100% {top: 10px; }}
.mid_banner img{width: 45%;height: 100%;}

/* Styles for the button_boxes */
.Button_box{margin: 30px 0;display: flex;justify-content: space-between;align-items: center;gap: 20px;}
.box_1{width: 20%;height: 210px;text-align: center;background: #e5e7eb;border-radius: 20px;padding: 20px 0;}
.box_1 img{width: 80px;height: 80px;border-radius: 42px;}
.box_title{font-size: 18px;text-transform: uppercase;line-height: 28px;letter-spacing: 0.08px;font-family: sans-serif;}
.box_headline{font-size: 19px;text-transform: capitalize;line-height: 15px;font-family: sans-serif;}
button{cursor: pointer; color: #fff;padding: 8px 18px;font-size: 16px;border-radius: 20px;}

/* pop_up */
.button{background: #ff00001f;margin: 20px 0;cursor: pointer;color: #111827;padding: 22px 28px;font-size: 16px;text-transform: capitalize;border-radius: 20px;border:none;}
.popup {display: none;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);background-color: rgba(0, 0, 0, 0.5);}
.popup-content {background-color: white;border-radius: 5px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);width: 476px;}
.close-btn {position: absolute;top: 10px;right: 10px;cursor: pointer;font-size: 20px;}
.checkbox-container {display: flex;flex-direction: column;align-items: flex-start;padding: 40px 20px;}
.checkbox-item {margin-bottom: 10px;}
.checkbox-item input[type="checkbox"] {margin-right: 5px;}
/* toggle slider */
.toggle{display: flex;justify-content: center;margin: 40px 0 20px 0;}
.switch {position: relative;display: inline-block;width: 210px;height: 84px;border: 2px solid #000;border-radius: 46px;}
.switch input { opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 50px;width: 50px;left: 20px;bottom: 16px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(120px);-ms-transform: translateX(120px);transform: translateX(120px);}
.slider.round {border-radius: 50px;}
.slider.round:before {border-radius: 50%;}

/* google ads */
.google_container{margin: 20px 0;}
.google_headline{font-size: 40px;font-family: sans-serif;font-weight: 700;line-height: 68px;}
.list_card{display: flex;align-items: center;gap: 40px;}
.grid img{width: 460px;height: 480px;}
.menu_bar {width:20%;font-size: 16px;font-family: sans-serif;color: #5f6368;}
.active {border-bottom: none;position: relative;color:#fff;background: #000;}
.menuAds {display: flex;align-items: center;width: 40%;height: 15%;gap: 12px;cursor: pointer;padding: 10px 20px;margin: 20px 0;font-weight: 400;border: 1px solid #e8eaed;border-radius: 20px;box-sizing: content-box;}
.menuAds img{width: 24px;height: 24px;}
.text-title{width: 30%;}
.headline{font-size: 36px;line-height: 19px;font-family: Google Sans,Arial,Helvetica,sans-serif;font-weight: 500;letter-spacing: -.25px;}
.text_paragraph{font-size: 16px;line-height: 24px;font-family: Google Sans,Arial,Helvetica,sans-serif;}
.icon_wrapper{display: flex;gap: 10px;align-items: center;text-decoration: none;color: red;font-size: 16px;line-height: 24px;font-family: Google Sans,Arial,Helvetica,sans-serif;}
.icon_wrapper img{width: 50px;height: 50px;}
@keyframes draw {
    from {stroke-dashoffset: 200;}
    to {stroke-dashoffset: 0;}}
/* #path {
    stroke-dasharray: 200;stroke-dashoffset: 200;animation: draw 2s linear forwards;
} */
.level_up_container{display: flex;gap: 80px;align-items: center;background: #ffff0033;border-radius: 60px;}
.level_up_container img{width: 40%;height: 100%;object-fit: none;border-radius: 60px;}
.right_container_text{width: 46%;height: 270px;}
.level_up_title{display: flex;flex-wrap: wrap;font-size: 47px;line-height: 67px;font-weight: 600;font-family: Raleway,sans-serif;text-transform: capitalize;}
.level_up_headlne{font-size: 18px;line-height: 20px;font-weight: 100;color: #c2c2c2;font-family: Raleway,sans-serif;}
.level_up_category{padding-left: 0px;color: #747373;display: flex;font-size: 16px;line-height: 20px;gap: 20px;font-weight: 100;margin: 20px 0;justify-content: space-between;}
.explore_courses{text-decoration:none;font-size: 19px;line-height: 32px;font-weight: 100;color: #fff;background: #283299;opacity: .7;padding: 10px 20px;border-radius: 20px;font-family: Raleway,sans-serif;}
/* instagram ads */
h2{text-align: center;}
.intagram_headline{font-size: 14px;line-height: 20px;font-weight: 100;color: #000;font-family: Raleway,sans-serif;text-transform: capitalize;text-align: center;width: 60%;margin: 0 19%;}
.instagram_container{display: flex;align-items: center;gap: 20px;justify-content: space-around;margin: 30px 0;}
.instagram_container img{width: 435px;height: 450px;}
.photo_ads{margin: 20px 0;cursor: pointer;}
.right_container{width: 40%;height: 160px;position: relative;}
.photo_ads_title{font-size: 22px;line-height: 40px;font-weight: 100;color: #000;font-family: Raleway,sans-serif;}
.photo_ads_headline{font-size: 14px;line-height: 20px;font-weight: 100;color: #000;font-family: Raleway,sans-serif;text-transform: capitalize;}
.photo_ads.active{content: "";width: 100%;height: 60%;border-left: 2px solid rgb(19 100 241);padding-left: 20px;background: #fff;}

