body { font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }
.page_layout { position: relative; margin: 0 auto; /*max-width: 1184px; */ width: 100%; }
.gap { margin: 120px 0; padding: 5px 0;}
/* Styles for the login &sign up button */
.header {padding: 0 20px;background: #e5ebed;padding: 0 20px; display: flex; align-items: center; justify-content: space-between; position: sticky; z-index: 1; top: 0; }
.rozarpay_logo { width: 220px; height: 80px;margin: 20px; }
.header_login { display: flex; justify-content: space-between; align-items: center; gap: 20px; }
.header_log_button { color: rgb(19, 100, 241); min-height: 36px; font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 14px; font-weight: 700; text-decoration-line: none; line-height: 20px; cursor: pointer; padding: 0 20px; align-items: center; display: inline-flex; }
.header_sign_up { color: rgb(255, 255, 255); font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 16px; font-weight: 700; text-decoration-line: none; line-height: 20px; text-align: center; cursor: pointer; background-color: rgb(19, 100, 241); padding: 10px 20px; }
.header_log_button:hover { background-color: rgb(199, 199, 193); }

/* Styles for the navigation bar */
.nav_bar { overflow: hidden; }
.nav_bar a { float: left; display: block; text-align: center; padding: 14px 20px; text-decoration: none; color: rgb(129, 133, 151); font-weight: bold; font-size: 14px; text-transform: capitalize; cursor: pointer; font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }
.drop_down { float: left; overflow: hidden; }
.drop_down-section span {display: none;}
.drop_down-section:hover span {color: rgb(19, 100, 241);display: block;}
.drop_down .dropbtn { font-size: 16px; border: none; outline: none; padding: 14px 20px; background-color: inherit; margin: 0; text-decoration: none; color: rgb(129, 133, 151); font-weight: bold; text-transform: capitalize; cursor: pointer; font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }
.drop_down:hover .dropbtn, .nav_bar a:hover { color: rgb(19, 100, 241); text-decoration: underline; }
.drop_down-content { display: none; position: absolute; background-color: #f9f9f9; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); z-index: 1; left: 30px; height: auto; padding: 0 15px; max-width: 1080px; }
.drop_down-content a { float: none; color: #000; padding: 12px 16px; text-decoration: none; display: block; text-align: left; }
.drop_down-content a:hover { background-color: #ddd; text-decoration: none; }
.drop_down:hover .drop_down-content { display: flex; text-decoration: none; justify-content: space-between; gap: 10px; }
.drop_down_content_online { width: 65%; }
.drop_down_content_offline { width: 30%; }
.drop_down-section { width: 340px; }
.drop_down-content p { color: rgb(137, 150, 169); font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 14px; font-weight: 400; text-decoration-line: none; line-height: 20px; padding: 0; margin: 20px 16px 4px; text-transform: uppercase; }
.drop_down_list { display: grid; justify-content: space-between; justify-items: center; grid-template-columns: repeat(2, 1fr); }
.drop_down_list a { display: flex; justify-content: space-between; gap: 12px; text-decoration: none; max-width: 260px; }
.drop_down_list img { width: 40px; height: 40px; background: #3480de; border-radius: 50%; }
.payment_title { font-size: 16px; gap: 6px;display: flex;flex-wrap: nowrap;}
.payment_headline { font-size: 12px; color: rgb(137, 150, 169); font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: 400; line-height: 20px; padding: 5px 0; }
/* Styles for the banner */
.mid_banner { display: flex; justify-content: space-between; align-items: center; }
.left_banner_text { width: 50%;  margin-bottom: 8px; }
.mid_banner img { width: 38%; height: 100%; z-index: 1;}
.slidingVertical {display: inline;}
.wrapper {display: inline-flex;position: relative;bottom: 150px;left:276px}
.wrapper .dynamic-txts {margin-left: 15px;height: 87px;line-height: 74px;overflow: hidden;}
.dynamic-txts li{left:32px;font-size: 46px;position: relative;top: 17px;animation: slide 6s steps(4) infinite;}
@keyframes slide {100% {top: -280px;}}
.dynamic-txts li span {position: relative;font-weight: 600;line-height:normal;}
.dynamic-txts li span::after {content: "";position: absolute;left: 0;height: 100%;width: 100%;background:hwb(0deg 97% 3%);animation: typing 1.6s steps(10) infinite;}
@keyframes typing {100% {left: 100%;margin: 0 -35px 0 35px;}}

/* Styles for the button_boxes */
.Button_box { margin: 30px 0; display: flex; justify-content: space-between; align-items: center; gap: 20px; }
.box_1 {width: 20%; height: 240px; text-align: center; background: #e5e7eb; border-radius: 20px; padding: 20px 0; }
.box_1 img {width: 80px; height: 80px; border-radius: 42px; }
.box_title {margin-top: 20px;font-weight: 700;font-size: 18px; text-transform: uppercase; line-height: 32px; letter-spacing: 0.08px; }
.box_headline { font-size: 19px; text-transform: capitalize; line-height: 15px;color: #999797; }
button { cursor: pointer; color: #fff; padding: 4px 8px; font-size: 16px; border-radius: 20px; }

/* pop_up */
.button { margin: 20px 0; cursor: pointer; color: #111827; padding: 10px 16px; font-size: 16px; text-transform: capitalize; border-radius: 20px; border: none; }
.popup { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.5); }
.popup-content { background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); width: 476px; }
.close-btn { position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 20px; }
.checkbox-container { display: flex; flex-direction: column; align-items: flex-start; padding: 40px 20px; }
.checkbox-item { margin-bottom: 10px; }
.checkbox-item input[type="checkbox"] { margin-right: 5px; }
.model_pop_up { display: grid; background: #e2dede70; padding: 12px 0; margin: 12px; width: 40%!important; justify-items: center; }
.model_pop_up img { width: 50px; height: 50px; margin-top: 10px; }
.check_input { display: flex !important; justify-content: space-evenly !important; align-items: center !important; gap: 60px !important;}
/* toggle slider */
.switches-container {margin-bottom: 3%; margin-top: 3%; width: 360px; position: relative; display: flex; padding: 0; position: relative; background: #2196f3; line-height: 48px; margin-left: auto; margin-right: auto; }
.switches-container input { visibility: hidden; position: absolute; top: 0; }
.switches-container label { width: 50%; padding: 0; margin: 0; text-align: center; cursor: pointer; color: #fff; font-size: 18px; }
.switch-wrapper { position: absolute; top: 0; bottom: 0; width: 50%; z-index: 3; transition: transform 1s; }
.switch { font-size: 18px; background: #f4e909; height: 100%; box-shadow: 3px 1px 26px 12px #4a4a4a;font-weight: 700;}
.switch div { width: 100%; text-align: center; opacity: 0; display: block; color: #000; transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s; will-change: opacity; position: absolute; top: 0; left: 0; }
.switches-container input:nth-of-type(1):checked~.switch-wrapper { transform: translateX(0); }
.switches-container input:nth-of-type(2):checked~.switch-wrapper { transform: translateX(100%); }
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) { opacity: 1; }
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) { opacity: 1; }

/* google ads */
.google_container { margin: 20px 0; }
.google_headline { font-size: 40px; font-family: sans-serif; font-weight: 700; line-height: 68px; }
.list_card { display: flex; align-items: center; gap: 40px;padding: 0 24px; }
.grid img { width: 436px; height: 480px; }
.menu_bar { width: 20%; font-size: 16px; font-family: sans-serif; color: #5f6368; }
.active { border-bottom: none; position: relative; color: #fff; background: #000 !important; }
.menuAds {background: #fff; display: flex; align-items: center; width: 40%; height: 15%; gap: 12px; cursor: pointer; padding: 10px 20px; margin: 20px 0; font-weight: 400; border: 1px solid #e8eaed; border-radius: 20px; box-sizing: content-box; }
.text-title { width: 30%; }
.headline { font-size: 38px; line-height: 48px; font-weight: 700; }
.text_paragraph { color: #645858;font-size: 18px;line-height: 28px; }
.icon_wrapper { display: flex; gap: 10px; align-items: center; text-decoration: none; color: red; font-size: 16px; line-height: 24px; font-family: Google Sans,Arial,Helvetica,sans-serif; }
.icon_wrapper img { width: 50px; height: 50px; }
@keyframes draw {
  from { stroke-dashoffset: 200; }
  to { stroke-dashoffset: 0; }
}

/* instagram ads */
h2 { text-align: center; }
h4{text-transform: capitalize;}
.intagram_headline { font-size: 14px; line-height: 20px; font-weight: 100; color: #000; font-family: Raleway,sans-serif; text-transform: capitalize; text-align: center; width: 60%; margin: 0 19%; }
.instagram_container { display: flex; align-items: center; gap: 20px; justify-content: space-around; margin: 30px 0; }
.instagram_container img { width: 435px; height: 450px; }
.photo_ads { margin: 20px 0; cursor: pointer; }
.right_container { width: 40%; height: 160px; position: relative; }
.photo_ads_title { font-size: 22px; line-height: 40px; font-weight: 100; color: #000; font-family: Raleway,sans-serif; }
.photo_ads_headline { font-size: 14px; line-height: 20px; font-weight: 100; color: #000; font-family: Raleway,sans-serif; text-transform: capitalize; }
.photo_ads.active { content: ""; width: 100%; height: 60%; border-left: 2px solid rgb(19 100 241); padding-left: 20px; background: #e3e0e0; }

/* Basic CSS styles for navigation */
.payment_card_section { margin: 20px 60px; }
.payment_mode { background-color: rgb(255, 255, 255); opacity: 1;  margin: 20px 0; }
nav { margin: 28px 0; }
ul { list-style-type: none; margin: 0; padding: 0; }
.button_mode {border-right: none!important; display: inline-block; color: rgb(137, 150, 169); font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 16px; font-weight: 400; text-decoration-line: none; line-height: 24px; position: relative; left: -30px; margin-right: 10px; text-transform: capitalize; }
li {display: inline-block; color: rgb(137, 150, 169); font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 16px; font-weight: 400; text-decoration-line: none; line-height: 24px; position: relative; left: -30px; margin-right: 10px; text-transform: capitalize; }
li:nth-child(1){border-right: 1px solid rgb(137, 150, 169);padding-right: 10px;}
.card_mode { display: flex; align-items: center; gap: 20px; margin: 20px; border-bottom: 2px solid #c2c2c2; }
.button_mode:hover { opacity: 0.8; color: #000; }
li div {cursor: pointer; padding: 8px 18px;border-radius: 20px; font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 16px;  font-style: normal; text-decoration-line: none; line-height: 24px; margin-right: 20px; text-transform: capitalize; }
/* li div:hover { opacity: 0.7; color: #c2c2c2; text-decoration: none; } */
.page_title {margin-top: 20px; color: rgb(19, 38, 68); font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 56px; font-weight: 700; line-height: 64px; text-transform: capitalize; }
.page_headline{font-size: 22px;font-weight: 100;color: #999797;text-transform: none;}
.card_title { color: rgb(19, 38, 68); font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 32px; font-weight: 700; text-transform: capitalize; text-decoration-line: none; line-height: 40px; margin: 20px 40px; }
.card_payment-title{font-size:22px;font-weight: 700;text-decoration-line: none;line-height: 24px;margin: 10px 0;text-transform: capitalize;}
.card_payment-headline{color: rgb(94, 110, 135);font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-size: 14px;font-weight: 400;font-style: normal;text-decoration-line: none;line-height: 18px;margin: 8px 0px 0px;padding: 0px;}
.card_know-more{font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size: 16px;text-decoration-line: none;line-height: 20px;text-align: center;cursor: pointer;color: rgb(19, 100, 241);padding: 7px 15px;}
.card_sign-up{border-radius: 20px;color: rgb(255, 255, 255);font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size: 18px;font-weight: 700;text-decoration-line: none;line-height:28px;text-align: center;cursor: pointer;background-color: rgb(19, 100, 241);padding: 8px 15px;}
.card_payment-details{ display: flex;justify-content: space-between;margin: 20px 0;align-items: center;}
.card_box1 img { width: 284px; height: 300px; }
.card_box_multiple{display: flex;align-items: center;justify-content: space-between;align-content: center;gap: 12px;overflow-x: scroll;overflow: scroll;}
.card_box_multiple::-webkit-scrollbar { display: none; }
.card_box1{width: 284px;height:auto;position: relative;}
.tab_nav { display: flex; align-items: center; }
.tab_nav li { margin: 10px 20px; text-align: center; cursor: pointer; }
.tab_nav li.show { color: rgb(19, 100, 241); border-bottom: 2px solid rgb(19, 100, 241); font-weight: 600; }
.contents { margin: 10px 10px; }
.contents > div { display: none; transition: display 1s; }
.contents > div.show { display: block; }

/* level-up-container */
.level_up_container { display: flex; gap: 80px; align-items: center; background: #ffff0033; border-radius: 60px; }
.level_up_container img { width: 35%; height: 100%; object-fit: none; border-radius: 60px; }
.right_container_text { width: 46%; height: 270px; }
.level_up_title { display: flex; flex-wrap: wrap; font-size: 47px; line-height: 67px; font-weight: 600; font-family: Raleway,sans-serif; text-transform: capitalize; }
.level_up_headlne { font-size: 18px; line-height: 20px; font-weight: 100; color: #747272; font-family: Raleway,sans-serif; }
.level_up_category { padding-left: 0; color: #5a4b4b; display: flex; font-size: 16px; line-height: 20px; gap: 20px; font-weight: 100; margin: 20px 0; justify-content: space-between; }
.explore_courses { text-decoration: none; font-size: 19px; line-height: 32px; font-weight: 100; color: #fff; background: #283299; opacity: .7; padding: 10px 20px; border-radius: 20px; font-family: Raleway,sans-serif; }
/* company logo */
.company_banner{display: flex;align-items: center;justify-content: space-around;}
.company_title{font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 68px;font-weight: 700;line-height: 78px;}
.company_headline{margin: 20px 10px;font-size: 20px;line-height: 32px;}
.contact_button{font-size: 30px;line-height: 52px;color: #fff;background-color: rgb(19, 100, 241);padding: 10px 16px;text-decoration: none;border-radius: 8px;}
.company_user_data{margin-top: 15px; display: flex;justify-content: space-evenly;align-content: center;align-items: center;font-size: 36px;font-weight: 700;}
.company_user_data div span{color: #adadb1;text-transform:capitalize;position:absolute}
.company_bottom_text{margin: 60px 0;text-transform:capitalize}
#image-container {width: 50%;height: 360px;overflow: hidden;position: relative;}
#image-wrapper {width: 100%; animation: scrollAnimation 14s linear infinite;}
.image {width: 50%;flex-shrink: 0;}
@keyframes scrollAnimation {
  0% { transform: translatey(0); }
  100% { transform: translatey(-25%); }}

/* pratice codeing  */
.code_assessment{display: flex;justify-content: space-between;align-items: center;gap: 8px;}
.code_assessment_headline{color: #a19f9f;font-size: 20px;}
.code_assessment_box{width: 85%;}
.view_more{font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";color: #2196f3;font-size: 20px;text-decoration: none;}
.code_assessment_details{display: flex;justify-content: space-between;align-items: center;gap: 10px;margin: 20px 0;}
.code_assessment_details_box{width: 22%;padding: 12px;background: #e6f0f9;border-radius: 10px;cursor: pointer;}
.code_assessment_details_box_description{color: #a19f9f;font-size: 16px;padding: 0 0 20px;}
.code_assessment_details_box img{width: 75px;height: 75px;padding: 8px;border-radius: 50%;margin-bottom: 20px}
.code_assessment_job_details_box-container{width: 65%;font-size: 16px;}
.code_assessment_job{display: flex;justify-content: space-between;align-items: center;}
.code_assessment_job_details{font-size: 47px;line-height: 67px;font-weight: 600;font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";text-transform: capitalize;}
.code_assessment_job_details_description{color: #a19f9f;font-size: 16px;padding:20px 0;}
.code_assessment_job_details_box{width: 20%;padding: 12px;background: #e6f0f9;border-radius: 10px;cursor: pointer;}
.select_mode{cursor:pointer;margin:8px;font-size: 16px;font-weight: 400;text-decoration-line: none;line-height: 24px;position: relative;padding: 20px;border-radius: 30px;color: #000;background:#f0ebeb;}
.select{background: #0862ab;color: #fff;}
.job_details img{width: 159px;height: 55px;border-radius: 20px;}
.job_details{display: flex;justify-content: space-between;align-items: center;margin: 20px 0;}
.jobs_category_description{color: #a19f9f;font-size: 14px;}
.jobs_category{border: 1px solid #000;margin: 0 0 10px;text-transform: capitalize;font-size: 16px;background: #f6f1f1;border-radius: 50px;padding: 2px 26px;}
/* footer */
.footer_container{display: flex;justify-content: space-evenly; border-bottom: 4px solid;border-image: linear-gradient(to right, #e73d3d,#78e678,#f5b961,#39b2ea); border-image-slice: 3;padding: 0 80px;margin: 20px 0;}
.footer_contains img{width: 100px;height: 100px;}
.footer_contains{padding: 24px 30px;background: #eaf5ff;width: 33%;margin: 40px 20px;border-radius: 20px;}
.footer_information{width:17%;padding: 10px 10px;margin: 14px;}
.footer_social_icon img{width: 55px;height: 50px;}
.footer_brand_logo  img{width: 115px;height: 90px;padding: 5px;}


