.scroll-wrapper {
    overflow: hidden;
    /* gap and speed control */
    --gap: 30px;
    --speed: calc(var(--items , 20) * 1.5s);
}
/* Items style */
.scroll-inner .scroll-items {
    max-width: 300px;
    background-color: white;
    color: whitesmoke;
    padding: 0px;
    position: relative;
}

.scroll-inner .scroll-items .carouser-title {
    position: absolute;
    content: "";
    width: 100%;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.518);
    color: white;
    padding: 5px;
    gap: 5px;
    opacity: 0;
    transition: .5s;
   
}
.scroll-inner .scroll-items .carouser-title p{
    font-size: 12px;
}

.scroll-inner .scroll-items:hover .carouser-title {
    opacity: 1;
}

.scroll-inner {
    width: max-content;
    gap: var(--gap);
    animation: scroll infinite linear var(--speed);
}

.scroll-inner.right {
    animation: scroll-right infinite linear var(--speed);
}

.scroll-inner:hover {
    animation-play-state: paused;
}

/* animation code */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-50% - (var(--gap) / 2)));
    }
}

@keyframes scroll-right {
    100% {
        transform: translateX(0%);
    }

    0% {
        transform: translateX(calc(-50% - (var(--gap) / 2)));
    }
}

@media (width < 760px) {
    .scroll-inner .scroll-items {
        max-width: 250px;
    }
    .scroll-inner .scroll-items .carouser-title {
        font-size: 0.75rem;
    }
    .scroll-wrapper {
        --gap: 20px;
    }
    .scroll-inner .scroll-items .carouser-title p{
        font-size: 8px;
    }
}